<table class="" summary ="profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for(@user) %>
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar" style="float:right;">
			<strong>Name : </strong> <%= @user.name %> <br />
			<strong>Url : </strong> <%= link_to "/user/#{@user.id}", "/user/#{@user.id}" %>
		</td>
	</tr>
</table>

