.container{
	width:780px
}
body{
	background:url(../images/dark-grey-tile.png); /*#CFF;*/
	background-color:#112;
}
header{
	padding:20px;
}
header img{
	padding:1em;
	margin-left:-20px;
	background:white;
}
section{
	margin-top:1em;
	font-size:120%;
	padding:20px;
	background:#FFF;
}
a{
	color:#09c;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color:#069;
}
a:visited{
	color:#069;
}
nav{
	float:right;
	background:#FFF;
	padding:20px;
	white-space: nowrap;
	margin-right: -20px;
}
nav ul{
	margin:0;
	padding:0;
}
nav ul li{
	list-style: none;
	display:inline-block;
	padding:0em 0em;
}
nav ul li a{
	padding: 0 15px;
	font-weight:bold;
}
a.signup_button{
	width:150px;
	text-align:center;
	font-size: 150%;
	color:white;
	background:green;
	display:block;
	margin-right: auto;
	margin-left:auto;
	padding:20px 20px;
}
footer{
	background :white;
	display:block;
	width:780px;
	height:50px;
	margin-top:20px;
	text-align:center;
}
footer ul{
	list-style: none;
	padding-top:20px;
	padding-bottom:20px;
	margin-left: auto;
	margin-right: auto ;
}
footer ul li{
	display:inline;
}
footer ul li a{
	/*font-size:150%;*/
	font-weight:bold;
	padding:0px 15px;
}

